@import url('https://fonts.googleapis.com/css?family=Poppins');

:root {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

.container {
    position: relative;
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 40px 30px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    perspective: 2850;
}

input[type=checkbox].hidden{
    opacity: 0;
}

.cover {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 50%;
    z-index: 100;
    background: #33394f;
    transition: all 1s ease;
    transform-origin: left;
    transform-style: preserve-3d;
}

.container #flip:checked ~ .cover {
    transform: rotateY(-180deg);
}

.icon {
    height: 24px;
    width: 24px;
    position: absolute;
}

.eye-close {
    position: absolute;
    float: right;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    cursor: pointer;
    padding: 5px;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #202433;
    background-image: url("images/uls-bg.png");
    background-size: cover;
    overflow: hidden;
}

.container .form {
    height: 100%;
    width: 100%;
    background: #fff
}

.container .form-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-content .login {
    width: calc(1005 / 2 - 25px);
}

.form-content .signup {
    width: calc(1005 / 2 - 25px);
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: black;
}

.input-box {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    margin: 10px 0;
    position: relative;
}

.input-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid rgba(0,0,0,0.2);
    padding-left: 40px;
    transition: all 0.4s ease;
}

.input-box input:focus {
    border-color: #202433;
}

.submit-button {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    margin: 10px 0;
    position: relative;
}

.submit-button input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    background-color:#202433;
    color: #fff;
    transition: all 0.2s ease;
}

.submit-button input:hover {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: 500;
    background-color:#33394f;
    color: #fff;
}

.flipfont {
    font-weight: bold;
    color:#33394f;
    cursor: pointer;
}

.flipfont:hover {
    font-weight: bold;
    color:#33394f;
    text-decoration: underline;
}

.showpassword-box {
    margin-top: -20px;
    display: flex;
}

.showpassword-box p{
    margin-left: 10px;
    font-size: 14px;
}

.input-box input[type="checkbox"]{
    width: 12px;
}