    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="/common/{{css}}"/> 
    </head>

    <body>
        {{{body}}}
    </body>

    <script>
        {{js}}
    </script>