<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="/common/{{css}}"/>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <style>
            .edit-profile-panel{
                display: none;
            }
        </style>
    </head>

    <body>
        {{{body}}}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </body>
</head>