<head>
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="/common/{{css}}"/>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>

    <body>
        {{{body}}}
    </body>

    <script>
        {{{script}}}
    </script>