<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" media="all" href="main.css"/>
</head>
<body>
	<div class="header panel">
		<div class="app-div">
			<img src="images/logo.png" alt="Threadle logo" class="threadle-logo">
			<div class="app-name">Threadle</div>
		</div>
		<div class="search-div">
			<img src="images/search-icon.png" alt="Search Icon" class="search-icon">
			<span class="search-text">Search Threadle</span>
		</div>
		<div class="profile picture">
	