
<head>
    <meta charset="UTF-8">
    <title>Threadle • Home</title>
    <link rel="stylesheet" type="text/css" media="all" href="/common/main.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
</head>

<body>
<div class="container">
    <div class="header panel">
        <div class="app-div">
            <img src="/common/images/logo.png" alt="Threadle logo" class="threadle-logo">
            <div class="app-name">Threadle</div>
        </div>
        <div class="search-div">
            <img src="/common/images/search-icon.png" alt="Search Icon" class="search-icon">
            <span class="search-text">Search Threadle</span>
        </div>
        <div class="profile-div">
            <img src="/common/images/user-1.png" alt="Profile Picture" class="profile-icon">
            <span class="profile-name">{{profileName}}</span>
        </div>
    </div>
</div>

<div id="content"></div>

<script id="home-template" type="text/x-handlebars-template">
    <div class="container">
        <div class="header panel">
            <div class="app-div">
                <img src="/common/images/logo.png" alt="Threadle logo" class="threadle-logo">
                <div class="app-name">Threadle</div>
            </div>
            <div class="search-div">
                <img src="/common/images/search-icon.png" alt="Search Icon" class="search-icon">
                <span class="search-text">Search Threadle</span>
            </div>
            <div class="profile-div">
                <img src="/common/images/user-1.png" alt="Profile Picture" class="profile-icon">
                <span class="profile-name">{{profileName}}</span>
                </div>
            </div>
        </div>
</script>
</body>

<script>
    const homeTemplateSource = document.getElementById('home-template').innerHTML;
    const homeTemplate = Handlebars.compile(homeTemplateSource);
    const context = { profileName: '@Artistic-Soul-56' };
    const htmlOutput = homeTemplate(context);
    document.getElementById('content').innerHTML = htmlOutput;
</script>